ul{
    list-style-type: none;
}
a{
    color:rgb(219, 59, 59);
    text-decoration: none;
}
header h1 {
    display: inline-block;
    padding-left: 50px;

}
header nav{
    font-size: x-large;
    float: right; 
}

header nav ul li{
    display: inline-block;
    padding-right: 50px;
}

header{
    background-color: rgb(56, 56, 56);
    color: white;
}

body{
    margin:0;
}